@import "./yue";

section#post{
    padding: 45px;
    @media screen and (max-width:767px) {
        padding: 1rem;
    }
    .post-pager{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        >*{
            padding: 0.7rem;
            font-size: 1.1rem;
            position: relative;
            &:first-child{
                margin-right: 2rem;
                &::after{
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    background: $darkColor;
                    right: calc(-1rem - 2.5px);
                }
            }
        }
        a{
            transition: 0.3s ease all;
            &:hover{
                color: white;
                background: $darkColor;
            }
        }
    }
}

article.post{
    .post-title{
        text-align: center;
        font-weight: 600;
        word-break: break-word;
        sup{ // edit button
            width: unset;
            a{
                padding: 0.5em;
                display: block;
            }
        }
    }
    .post-meta{
        text-align: center;
        font-size: 14px;
        &, & *{
            color: $fadeColor;
        }
    }
    img.biaoqing{
        display: inline-block;
        height: 2em;
        vertical-align: bottom;
        margin: 0;
        box-shadow: none;
    }
    a[data-fancybox]{
        display: block;
        width: 100%;
        img{
            display: block;
            margin: 0.2em auto;
            max-height: 150vh;
        }
    }
    .photos{
        display: flex;
        flex-wrap: wrap;
        figure{
            position: relative;
            margin: 5px;
            @media screen and (max-width: 767px){
                margin: 5px 0;
                min-width: 100%;
                flex: 1;
            }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            a{
                height: 0;
                position: relative;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }
            }
            figcaption{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                width: auto;
                margin: 0;
                padding: 60px 0 10px;
                color: #fff;
                background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 0,rgba(0,0,0,.03) 26%,rgba(0,0,0,.4) 71%,rgba(0,0,0,.5));
                opacity: .6;
                transition: opacity .3s ease;
            }
            &:hover figcaption{
                opacity: 1;
            }
        }
    }
    sup{
        margin: 0 0.3rem;
        display: inline-block;
        text-indent: 0;
        width: 14px;
        text-align: center;
        font: 700 8px/14px -apple-systrem,BlinkMacSystremFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
        border-bottom: 0;
        background-color: rgba(0,0,0,.18);
        border-radius: 14px;
        vertical-align: text-top;
        -webkit-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
        &:hover{
            background: $darkColor;
        }
        a{
            color: white!important;
            border: none;
        }
    }
    p.notice{
        background: #f0f8e5;
        padding: 0.5rem;
        border: 1px dashed #86cc00;
        position: relative;
        &::before{
            content: "Notice";
            position: absolute;
            left: 0.5rem;
            font-size: 0.8rem;
            top: -0.5rem;
            z-index: 1;
            line-height: 1;
            padding: 0 0.3rem;
        }
        &::after{
            content: "";
            position: absolute;
            height: 6.4px;
            background: #f0f8e5;
            left: 0.5rem;
            top: -1px;
            width: 54.1px;
            z-index: 0;
        }
    }
    
    section.archives{
        position: relative;
        padding-top: 3rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
        &.shrink{
            overflow-y: hidden;
            max-height: 3rem;
        }
        &:first-of-type{
            margin-top: 2rem;
        }
        &::before{
            content: attr(data-year);
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.5rem;
            font-weight: 600;
            display: block;
            width: 4rem;
            text-align: right;
        }
        &::after{
            content: attr(data-num) " 篇";
            position: absolute;
            top: 0.6rem;
            left: 5rem;
            font-size: 0.9rem;
            color: $fadeColor;
        }
        &.detail{
            padding-top: 0;
            &::after{
                display: none;
            }
            li{
                margin-bottom: 1.5rem;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                line-height: 2.5;
                position: relative;
                a{
                    border: none!important;
                    h4{
                        display: inline;
                    }
                    &::after{
                        content: " ＋ " attr(data-words) " 字";
                        font-size: 0.9rem;
                        color: rgba(0,0,0,0.3);
                    }
                }
                p{
                    line-height: 1.8;
                    font-size: 0.95rem;
                    color: #666;
                }
                &::before{
                    content: attr(data-date);
                    font-size: 0.9rem;
                    color: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    display: inline-block;
                    width: 4rem;
                    line-height: 1;
                    left: -4rem;
                    top: 0.75rem;
                }
            }
        }
        a.toggle-archive{
            position: absolute;
            top: 0.5rem;
            left: 0;
            font-size: 0.9rem;
            display: block;
            background: #eee;
            display: inline-block;
            line-height: 1;
            left: 8.5rem;
            border: none!important;
            border-radius: 0.3rem;
            padding: 0.3rem;
            width: 1.5rem;
            text-align: center;
            transition: 0.3s ease all;
            color: $textColor;
            &:hover{
                background: $darkColor;
                color: #dddddd;
            }
        }
    }
}
ruby {
    background-color: rgba(146, 185, 204, 0.2);
    margin: 4px;
    padding: 0 2px;
    border-radius: 4px;
}
ruby > rt {
    font-style: italic;
    color: #6a8998;
    margin-right: 2px;
    font-size: 60%;
}
.board-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 100%;
    padding-top: 1em;
    .board-item {
        position: relative;
        background: white;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
        transition: all 0.3s;
        overflow: hidden;
        display: flex;flex-flow: column nowrap;
        justify-content: flex-start;
        border: none!important;
        &.hover{
            transform: scale(0.95);
        }
        @media screen and (min-width: 768px) {
            &:hover{
                transform: scale(0.97);
                border: none!important;
            }
        }
        .board-thumb {
            width: 100%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .board-title,.board-title a{
            margin: 8px 0!important;
            font-size: 1.2em!important;
            overflow: hidden!important;
            white-space: nowrap !important;
            text-align: center !important;
            color: $textColor!important;
            font-weight: 700 !important;   
            border:none;
            &:hover{
                border: none
            }
        }
        @media screen and (max-width:767px){
            width: 30%;
            min-width: 30%;
            max-width: 30%;
            margin: 1.6%;
        }
        @media screen and (min-width:768px){
            width: 22%;
            min-width: 22%;
            max-width: 22%;
            margin: 1.5%;
        }
        @media screen and (max-width:400px){
            width: 45%;
            min-width: 45%;
            max-width: 45%;
            margin: 2.5%;
        }
    }
}

.TOC{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(450px);
    z-index: 13;
    max-width: 500px;
    max-height: 85vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @media screen and (max-width: 1366px){
        display: none;
        &.show{
            display: block;
            position: fixed;
            width: max-content;
            max-width: calc(100vw - 4rem - 39px);
            max-height: calc(100vh - 1.5rem - 60px);
            bottom: 1.5rem;
            right: 3.5rem;
            background: rgba($color: #000000, $alpha: 0.92);
            padding: 1rem;
            *{
                color: #dddddd;
            }
            top: unset;
            left: unset;
            transform: unset;
        }
    }
    &.fixed{
        position: fixed;
        top: 80px;
    }
}
.toggle-toc{
    @media screen and (min-width: 1366px) {
        display: none;
    }
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    padding: 0.4rem;
    background: black;
    z-index: 13;
}
#social{
    .post-like{
        margin: 0 auto;
        display: block;
        font-weight: bold!important;
        color: $fadeColor!important;
        &:hover,&.done{
            color: white!important;
            border: 2px solid $darkColor!important;
        }
    }
}