@import "./yue";

section#post{
    .post-pager{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;
        background: rgba(0,0,0,0.025);
        border-radius: 4px;
        >div{
            padding-top: 2.5rem;
            width: calc(50% - 1rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            position: relative;
            a{
                display: block;
            }
            h2{
                margin: 0;
                line-height: 1.3;
                font-size: 1.25rem;
            }
            p{
                margin: 0;
                margin-top: 0.3rem;
                font-size: 1rem;
                color: rgba(0,0,0,.42);
                line-height: 1.4;
            }
            &::before{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0.4rem;
                font-size: 14px;
                padding: 0.2em 0.5em;
                color: rgba(0, 0, 0, 0.2);
                border: 1px solid rgba(0,0,0,.1);
                border-radius: 4px;
            }
            &.prev{
                &::before{
                    content: "上一篇"
                }
                &::after{
                    content: "";
                    width: 1px;
                    height: calc(100% - 1rem);
                    background: #ddd;
                    position: absolute;
                    right: -1rem;
                    top: 0.5rem;
                }
            }
            &.next{
                &::before{
                    content: "下一篇"
                }
            }
        }
        @media screen and (max-width: 767.5px) {
            flex-direction: column;
            > div{
                width: 100%;
                text-align: left;
                align-items: flex-start;
                &::before{
                    left: 0;
                    transform: translateX(0);
                }
                &::after{
                    display: none;
                }
                &:first-child{
                    padding-bottom: 0.8rem;
                    margin-bottom: 0.8rem;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
}

article{
    .post-title{
        text-align: center;
        font-weight: 600;
        word-break: break-word;
        sup{ // edit button
            width: unset;
            a{
                padding: 0.5em;
                display: block;
            }
        }
    }
    .post-meta{
        text-align: center;
        font-size: 14px;
        &, & *{
            color: $fadeColor;
        }
    }
    .headline{
        color: rgba(0,0,0,.42);
        font-size: 1.42em;
        font-weight: 300;
        margin: 1em 0;
        position: relative;
    }
    img.biaoqing{
        display: inline-block;
        height: 2em;
        vertical-align: bottom;
        margin: 0;
        box-shadow: none;
    }
    a[data-fancybox]{
        display: block;
        width: 100%;
        img{
            display: block;
            margin: 0.2em auto;
            max-height: 150vh;
        }
    }
    .photos{
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 2rem);
        margin-left: -1rem;
        @media screen and (min-width: 819.5px) {
            width: 100vw;
            margin-left: calc(-50vw + 394px);
        }
        @media screen and (min-width: 1023.5px) {
            width: 1024px;
            margin-left: -118px;
        }
        figure{
            position: relative;
            margin: 2.5px;
            @media screen and (max-width: 767px){
                margin: 2.5px 0;
                min-width: 100%;
                flex: 1;
            }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            a{
                height: 0;
                position: relative;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    object-fit: cover;
                }
            }
            figcaption{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                width: auto;
                margin: 0;
                padding: 60px 0 10px;
                color: #fff;
                background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 0,rgba(0,0,0,.03) 26%,rgba(0,0,0,.4) 71%,rgba(0,0,0,.5));
                opacity: .6;
                transition: opacity .3s ease;
            }
            &:hover figcaption{
                opacity: 1;
            }
        }
    }
    sup{
        margin: 0 0.3rem;
        display: inline-block;
        text-indent: 0;
        width: 14px;
        text-align: center;
        font: 700 8px/14px -apple-systrem,BlinkMacSystremFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
        border-bottom: 0;
        background-color: rgba(0,0,0,.18);
        border-radius: 14px;
        vertical-align: text-top;
        -webkit-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
        &:hover{
            background: $darkColor;
        }
        a{
            color: white!important;
            border: none;
        }
    }
    p.notice{
        background: #f0f8e5;
        padding: 0.5rem;
        border: 1px dashed #86cc00;
        position: relative;
        &::before{
            content: "Notice";
            position: absolute;
            left: 0.5rem;
            font-size: 0.8rem;
            top: -0.5rem;
            z-index: 1;
            line-height: 1;
            padding: 0 0.3rem;
        }
        &::after{
            content: "";
            position: absolute;
            height: 6.4px;
            background: #f0f8e5;
            left: 0.5rem;
            top: -1px;
            width: 54.1px;
            z-index: 0;
        }
    }
}

section#archive-list{
    h1.post-title{
        text-align: center;
    }
    p.post-meta{
        text-align: center;
    }
    section.year{
        position: relative;
        padding-top: 3rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
        &.shrink{
            overflow-y: hidden;
            max-height: 3rem;
        }
        &:first-of-type{
            margin-top: 2rem;
        }
        &::before{
            content: attr(data-year);
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.5rem;
            font-weight: 600;
            display: block;
            width: 4.15rem;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &::after{
            content: attr(data-num) " 篇";
            position: absolute;
            top: 0.6rem;
            left: 5rem;
            font-size: 0.9rem;
            color: $fadeColor;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                position: relative;
                line-height: 1.78;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                border-bottom: 1px dotted #ddd;
                a{
                    display: block;
                    border: none!important;
                    h4{
                        display: inline;
                    }
                    &::after{
                        content: " ＋ " attr(data-words) " 字";
                        font-size: 0.9rem;
                        color: rgba(0,0,0,0.3);
                    }
                }
                &::before{
                    content: attr(data-date);
                    font-size: 0.9rem;
                    color: rgba(0, 0, 0, 0.3);
                    position: absolute;
                    display: inline-block;
                    width: 4rem;
                    line-height: 1;
                    left: -4rem;
                    top: 0.4rem;
                }
            }
        }
        a.toggle-archive{
            position: absolute;
            top: 0.5rem;
            left: 0;
            font-size: 0.9rem;
            display: block;
            background: #eee;
            display: inline-block;
            line-height: 1;
            left: 8.5rem;
            border: none!important;
            border-radius: 0.3rem;
            padding: 0.3rem;
            width: 1.5rem;
            text-align: center;
            transition: 0.3s ease all;
            color: $textColor;
            &:hover{
                background: $darkColor;
                color: #dddddd;
            }
        }
    }
}

section#index-list{
    margin-bottom: 3rem;
    h1.post-title{
        text-align: center;
        margin-bottom: 2.5rem;
    }
    >ul{
        list-style: none;
        padding: 0;
        margin: 0;
        >li{
            line-height: 1.25;
            margin-bottom: 36px;
            padding-bottom: 36px;
            border-bottom: 1px dotted #ddd;
            a.banner{
                border: none;
                display: block;
                height: 0;
                padding-top: 40%;
                position: relative;
                margin-bottom: 1.5rem;
                img{
                    @include bg;
                    background-color: #fff;
                    background-image: url(https://wx1.sinaimg.cn/large/005IXWDbly1g09s40ntuaj30za0g7745.jpg);
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    object-fit: cover;
                }
            }
            a.title{
                display: block;
                color: $darkColor;
                border: none;
                h1{
                    line-height: 1.35;
                    font-size: 1.67rem;
                    font-weight: bolder;
                    margin: 0;
                    margin-bottom: 1rem;
                    &::after{
                        content: " ＋ " attr(data-words) " 字";
                        font-size: .9rem;
                        color: rgba(0,0,0,.3);
                        font-weight: normal;
                    }
                }
            }
            p.headline{
                color: #999;
                font-size: 1.2em;
                font-weight: 400;
                line-height: 1.3;
                margin: 1rem 0;
                text-align: left;
                padding-left: 8px;
                border-left: 3px solid rgba($color: #000000, $alpha: 0.18);
                &::before{
                    display: none;
                }
                &.single{
                    margin-bottom: 0;
                }
            }
            div.post-meta-index{
                color: rgba(0,0,0,.5);
                font-size: 16px;
                font-style: italic;
                margin: 0;
                margin-top: 12px;
                font-weight: 300;
                line-height: 1.25;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}


ruby {
    background-color: rgba(146, 185, 204, 0.2);
    margin: 4px;
    padding: 0 2px;
    border-radius: 4px;
}
ruby > rt {
    font-style: italic;
    color: #6a8998;
    margin-right: 2px;
    font-size: 60%;
}
.yue{
    del{
        transition: 0.3s ease all;
        text-decoration: none;
    }
    del:not(:hover){
        &,& *{
            color: #222!important;
        }
        background: #222!important;
    }
}
.board-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 100%;
    padding-top: 1em;
    .board-item {
        position: relative;
        background: white;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
        transition: all 0.3s;
        overflow: hidden;
        display: flex;flex-flow: column nowrap;
        justify-content: flex-start;
        border: none!important;
        &.hover{
            transform: scale(0.95);
        }
        @media screen and (min-width: 768px) {
            &:hover{
                transform: scale(0.97);
                border: none!important;
            }
        }
        .board-thumb {
            width: 100%;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .board-title,.board-title a{
            margin: 8px 0!important;
            font-size: 1.2em!important;
            overflow: hidden!important;
            white-space: nowrap !important;
            text-align: center !important;
            color: $textColor!important;
            font-weight: 700 !important;   
            border:none;
            &:hover{
                border: none
            }
        }
        @media screen and (max-width:767px){
            width: 30%;
            min-width: 30%;
            max-width: 30%;
            margin: 1.6%;
        }
        @media screen and (min-width:768px){
            width: 22%;
            min-width: 22%;
            max-width: 22%;
            margin: 1.5%;
        }
        @media screen and (max-width:400px){
            width: 45%;
            min-width: 45%;
            max-width: 45%;
            margin: 2.5%;
        }
    }
}

.TOC{
    position: fixed;
    z-index: 13;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: max-content;
    max-width: calc(100vw - 4rem - 39px);
    max-height: calc(100vh - 1.5rem - 120px);
    bottom: 1.5rem;
    right: calc(3.5rem + 5px);
    background: rgba($color: #000000, $alpha: 0.92);
    padding: 1rem;
    *{
        color: #dddddd;
    }
    li{
        a{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            &:hover{
                color: #54BC4B
            }
        }
    }
    display: none;
    &.show{
        display: block;
    }
}
.toggle-toc{
    position: fixed;
    right: 1.5rem;
    bottom: 60px;
    padding: 0.4rem;
    background: black;
    z-index: 13;
    transition: 0.2s ease transform;
    &.pushed{
        transform: translateX(-5px);
    }
}
.social-button{
    padding: 1.5rem 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    a.social-button-icon{
        border: none!important;
    }
}
#social{
    .post-like{
        margin: 0 auto;
        display: block;
        font-weight: bold!important;
        color: $fadeColor!important;
        &:hover,&.done{
            color: white!important;
            border: 2px solid $darkColor!important;
        }
    }
}