#comments{
    color: $textColor;
    .theme-dark &{
        color: $td-textColor;
    }
    form,p{
        width: 100%;
    }
    .respond{
        position: relative;
        .cancel-comment-reply{
            position: absolute;
            right: 0;
            top: 0;
            padding: 0.25rem;
            border-radius: 5px;
            background: #eeeeee;
            .theme-dark &{
                background: $td-bgColor-dark;
            }
        }
    }
    form{
        .comment-info-input{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            input{
                background: none;
                flex: 1;
                height: 2.5em;
                padding: 0.2em;
                outline: none;
                border: none;  
                margin: 5px 0;
                &:nth-child(2){
                    margin: 5px;
                }
                @media screen and (max-width:767px){
                    &:nth-child(2){
                        margin: 5px 0;
                    }
                }
            }
            @media screen and (max-width:767px){
                flex-direction: column;
            }
        }
        #textarea{
            resize: none;
            width: 100%;
            height: 150px;
            border: none;
            padding: 0.7em;
            outline: none;
            margin-top:10px
        }
        .comment-info-input input,#textarea{
            padding: 0.3em;
            border: 3px solid rgba(0,0,0,.1);
            color: $textColor;
            .theme-dark &{
                color: $td-textColor;
                border-color: $td-borderColor;
            }
            border-radius: 4px;
            background: none;
        }
        .comment-buttons{
            position: relative;
            margin: 2rem 0;
            height: 1px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            #comment-submit-button{
                position: relative;
                background: none;
                &:hover{
                    background: $darkColor;
                }
                .theme-dark &{
                    color: $td-textColor-dark;
                }
            }
            .OwO{
                display: block;
                width: 100%;
                position: absolute;
                .theme-dark & .OwO-logo{
                    background: $td-bgColor-dark;
                    color: $td-textColor;
                    border-color: rgba(#fff, 0.1);
                }
                .OwO-logo {
                    z-index: 1;
                }
                .OwO-body{
                    .OwO-bar{
                        overflow-y: hidden;
                    }
                    .theme-dark &, .theme-dark & .OwO-bar{
                        background: $td-bgColor-dark;
                        border-color: rgba(#fff, 0.1);
                        color: $td-textColor;
                    }
                    .theme-dark & li.OwO-item{
                        background: $td-bgColor!important;
                        color: $td-textColor;
                    }
                    .theme-dark & .OwO-packages{
                        li:hover, li.OwO-package-active{
                            color: $td-textColor-dark;
                            background: $td-bgColor;
                        }
                    }
                    max-width:100%;
                    min-width: 245px;
                    .OwO-body{
                        max-width:100%;
                    }
                    .OwO-items{
                        -webkit-overflow-scrolling: touch;
                        overflow-x: hidden;
                    }
                    .OwO-items-image .OwO-item{
                        max-width:calc(20% - 10px);
                    }
                } 
            }
            .comment-mail-me{
                display:inline;
                text-align:right;
                margin-right: 1.3em;
                z-index: 1;
            }  
        }
    }
    >.comment-list>.comment-body{
        border-bottom: 1px solid rgba(0,0,0,.1);
        .theme-dark &{
            border-color: $td-borderColor;
        }
        margin-top: 1rem;
    }
    .comment-list{
        .comment-body{
            &.comment-by-author span.comment-avatar::after{
                content: "";
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                right: 0;
                top: 34px;
                @include bg;
                background-color: transparent;
                background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcHBw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh7/wAARCAAZABkDABEAAREBAhEB/8QAFwABAQEBAAAAAAAAAAAAAAAABgAFCP/EACMQAAECBgMAAwEAAAAAAAAAAAECAwAEBQYREiExUUFygZH/xAAXAQEBAQEAAAAAAAAAAAAAAAAFAAYH/8QAKxEAAQMCAwcEAwEAAAAAAAAAAQACBQQRAxIxEyFBYYGRwSRxodEUMlHw/9oADAMAAAERAhEAPwDrK5q43SWkoQgOTLgylJ6A9MCzEw2PaGtF3nQeSko+PNWSSbNCPMVu4nZZ+oB1tMszjbZsBJJIGBxknn2M1hy8piYb6gOGRvIW9huv8ph8fQse3BIOY8/lIbarjdWaUhaQ3MtjKkjoj0RpYeYbINLXCzxqPIQ8hHupCCDdpWzDSNQC7A0brUJ1TiZfCOUDJ11+P3Mc8nAwyh25IZu01tbh1WtjC4UQ2X7b+90hxR6jbnbktT2lfXr+55P6Y0foKyP4twm9NO/2SiPVU9Xwc89df92R60y0brQZJLiZfC+FnKtdfn9xGcgywyg2AOTfrra3Hql5PN+EdrbNu0/t/pP46Gsksa5qG3VmkrQsNzLYwlRHBHhgSYh2yDQ5ps8aHwUlHyBpCQRdpR1+iXE7KsU8stplmSddXAEkkk5POT35GbxIiVxMNlMWjI3mLe533+EwyvoWPdjAnMeR7JFbNDbpLSlrWHJlwYUoDgDwRpIeHbHtLnG7zqfAQ8hIGrIAFmhbMNo1USlRKVEpUSl//9k=);
            }
            position: relative;
            .comment-content-wrap{
                margin-bottom: 1.5rem;
                position: relative;
                .comment-reply{
                    position: absolute;
                    left: calc(26px);
                    transform: translateX(-50%);
                    top: calc(52px + 0.5rem);
                }
            }
            .comment-meta,.comment-content{
                margin-left: calc(52px + 1rem);
            }
            .comment-meta{
                position: relative;
                .comment-avatar{
                    display: block;
                    position: absolute;
                    left: calc(-52px - 1rem);
                    top: 0;
                    .avatar{
                        width: 52px;
                        height: 52px;
                    }
                }
                .comment-author{
                    margin-bottom: 0.3rem;
                }
                cite{
                    font-style: normal;
                    font-size: 0.9rem;
                }
                >span a{
                    color: rgba(0,0,0,.3);
                    .theme-dark &{
                        color: $td-textColor-dark;
                    }
                    font-size: 0.9rem;
                }
            }
            .comment-content{
                max-width: calc(100% - 52px - 1rem);
                word-break: break-word;
                color: $textColor;
                .theme-dark &{
                    color: $td-textColor;
                }
                margin-top: 0.5rem;
                border-radius: 6px;
                line-height: 1.5;
                position: relative;
                width: max-content;
                img.biaoqing{
                    display: inline-block;
                    height: 2em;
                    vertical-align: bottom;
                    margin: 0;
                    box-shadow: none;
                }
                p{
                    margin-block-end: 0.5rem;
                }
                p:first-of-type{
                    display: inline;
                }
            }
            
        }
        >.comment-body{
            >.comment-children{
                margin-left: calc(52px + 1rem);
            }
            @media screen and (max-width: 767px){
                >.comment-children{
                    margin-left: calc(26px);
                }
            }
        }
    }
}