#comments{
    form,p{
        width: 100%;
    }
    .respond{
        position: relative;
        .cancel-comment-reply{
            position: absolute;
            right: 1em;
            top: 0;
            padding: 0.25rem;
            border-radius: 5px;
            background: #eeeeee;
        }
    }
    form{
        .comment-info-input{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            input{
                background: none;
                flex: 1;
                height: 2.5em;
                padding: 0.2em;
                outline: none;
                border: none;  
                margin: 5px 0;
                &:nth-child(2){
                    margin: 5px;
                }
                @media screen and (max-width:767px){
                    &:nth-child(2){
                        margin: 5px 0;
                    }
                }
            }
            @media screen and (max-width:767px){
                flex-direction: column;
            }
        }
        #textarea{
            resize: none;
            width: 100%;
            height: 150px;
            border: none;
            padding: 0.7em;
            outline: none;
            margin-top:10px
        }
        .comment-info-input input,#textarea{
            padding: 0.3em;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: 4px;
            background: none;
        }
        .comment-buttons{
            position: relative;
            margin: 2rem 0;
            height: 1px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            #comment-submit-button{
                position: relative;
                z-index: 12;
                background: none;
                &:hover{
                    background: $darkColor;
                }
            }
            .OwO{
                display: block;
                width: 100%;
                position: absolute;
                .OwO{
                    display: block;
                    width: 100%;
                    position: absolute;
                }
                .OwO-body{
                    max-width:100%;
                    z-index: 2;
                    min-width: 245px;
                    .OwO-body{
                        max-width:100%;
                        z-index: 2
                    }
                    .OwO-items{
                        -webkit-overflow-scrolling: touch;
                        overflow-x: hidden;
                    }
                    .OwO-items-image .OwO-item{
                        max-width:calc(20% - 10px);
                    }
                } 
            }
            .comment-mail-me{
                display:inline;
                text-align:right;
                margin-right: 1.3em;
                z-index: 2;
            }  
        }
    }
    >.comment-list>.comment-body{
        border-bottom: 1px solid rgba(0,0,0,.1);
        margin-top: 1rem;
        &:last-of-type{
            border: none;
        }
    }
    .comment-list{
        .comment-body{
            &.comment-by-author span.comment-avatar::after{
                content: "";
                display: block;
                position: absolute;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                right: 0;
                bottom: 0;
                @include bg;
                background-color: transparent;
                background-image: url(https://wx2.sinaimg.cn/mw690/0060lm7Tly1fzun73towcj300p00pdfn.jpg);
            }
            position: relative;
            .comment-content-wrap{
                margin-bottom: 1.5rem;
                position: relative;
                .comment-reply{
                    position: absolute;
                    left: calc(26px);
                    transform: translateX(-50%);
                    top: calc(52px + 0.5rem);
                }
            }
            .comment-meta,.comment-content{
                margin-left: calc(52px + 1rem);
            }
            .comment-meta{
                position: relative;
                .comment-avatar{
                    display: block;
                    position: absolute;
                    left: calc(-52px - 1rem);
                    top: 0;
                    .avatar{
                        width: 52px;
                        height: 52px;
                    }
                }
                .comment-author{
                    margin-bottom: 0.3rem;
                }
                cite{
                    font-style: normal;
                    font-size: 0.9rem;
                }
                >span a{
                    color: rgba(0,0,0,.3);
                    font-size: 0.9rem;
                }
            }
            .comment-content{
                max-width: calc(100% - 52px - 1rem);
                word-break: break-word;
                color: $textColor;
                margin-top: 0.5rem;
                padding: 0.5em;
                background: rgba(0,0,0,0.05);
                border-radius: 6px;
                line-height: 1.5;
                position: relative;
                width: max-content;
                img.biaoqing{
                    display: inline-block;
                    height: 2em;
                    vertical-align: bottom;
                    margin: 0;
                    box-shadow: none;
                }
                p{
                    margin-block-end: 0.5rem;
                }
                p:first-of-type{
                    display: inline;
                }
                &::before{
                    position: absolute;
                    top: 10px;
                    left: -14px;
                    width: 0;
                    height: 0;
                    content: '';
                    border-style: solid;
                    border-width: 7px;
                    border-color: transparent rgba(0,0,0,0.05) transparent transparent;
                }
            }
            
        }
        >.comment-body{
            >.comment-children{
                margin-left: calc(52px + 1rem);
            }
            @media screen and (max-width: 767px){
                >.comment-children{
                    margin-left: calc(26px);
                }
            }
        }
    }
}