footer{
    @include bg;
    background-color: #111;
    padding-bottom: 1.5rem;
    .container{
        display: flex;
        section{
            flex: 1;
            position: relative;
            margin: 1rem 0.5rem 0 0.5rem;
            &,& *{
                color: #ddd;
                .theme-dark &{
                    *{
                        color: $td-textColor;
                    }
                }
                font-weight: 300;
            }
            p{
                line-height: 1.5;
                margin: 0.5rem 0;
                &:first-child{
                    margin-top: 1rem;
                }
            }
        }
        @media screen and (max-width:767px) {
            flex-direction: column;
            section:nth-child(2) {
                margin-top: 0.5rem;
                p:nth-child(1) {
                    margin-top: 0;
                }
            }
        }
    }
}