main{
    flex: 1;
    .lazy-wrap{
        width: 100%;
        overflow: hidden;
        min-height: $bannerHeight;
        padding-top: 58px;
        display: flex;
        @media screen and (max-width:767px) {
            padding-top: 50px;
        }
        @media screen and (max-width:767px) {
            min-height: $bannerHeight_mobile;
        }
        position: relative;
        @include bg;
        &.loading{
            background-color: #12121c;
        }
        &:not(.no-banner){
            background-color: #12121c;
        }
        &.loading::before{
            content: "";
            @include bg;
            background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkY2NzAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDUwIDUwIj48cGF0aCBkPSJNMjUuMjUxIDYuNDYxYy0xMC4zMTggMC0xOC42ODMgOC4zNjUtMTguNjgzIDE4LjY4M2g0LjA2OGMwLTguMDcxIDYuNTQzLTE0LjYxNSAxNC42MTUtMTQuNjE1VjYuNDYxeiI+PGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlVHlwZT0ieG1sIiBhdHRyaWJ1dGVOYW1lPSJ0cmFuc2Zvcm0iIHR5cGU9InJvdGF0ZSIgZnJvbT0iMCAyNSAyNSIgdG89IjM2MCAyNSAyNSIgZHVyPSIwLjZzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvcGF0aD48L3N2Zz4=);
            position: absolute;
            width: 40px;
            height: 40px;;
            top: calc(1rem + 60px);
            right: 1rem;
        }
        #banner{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            @include bg;
        }
        &.dark #banner{
            filter: brightness(0.5);
        }
        .banner-title{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 70px 45px;
            @media screen and (max-width: 767px) {
                padding: 50px 1rem;
            }
            .post-title{
                text-align: center;
                font-weight: 600;
                word-break: break-word;
                font-size: 2.7rem;
                line-height: 1.67;
                margin: 0;
                @media screen and (max-width: 767px) {
                    font-size: 2.2rem;
                }
            }
            .post-meta{
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 0;
            }
            .subtitle {
                font-size: 1rem;
                display: block;
                margin-top: 1rem;
                font-weight: normal;
                color: $td-textColor;
                .theme-dark & {
                    color: $td-textColor;
                }
            }
            &.index:not(.force-normal) {
                .post-title {
                    font-size: 2rem;
                }
                span.brand {
                    user-select: none;
                    position: relative;
                    border: 2px solid $td-bgColor-light;
                    padding: 20px 16px;
                    z-index: 1;
                    &::before {
                        background-color: #00ffff;
                        content: "";
                        height: 100%;
                        left: 10px;
                        top: 6px;
                        position: absolute;
                        transition: .3s;
                        width: 100%;
                        z-index: -1;
                        border-right: 2px solid #0ff;
                        border-bottom: 2px solid #0ff;
                    }
                    span {
                        transition: .3s;
                        transform: translate(10px, 6px);
                        display: inline-block;
                        white-space: nowrap;
                    }
                    &:hover {
                        span {
                            transform: translate(0, 0);
                        }
                        &::before {
                            left: 0;
                            top: 0;
                        }
                    }
                }
                .theme-dark & {
                    span.brand::before {
                        background: $td-bgColor-light;
                        border-color: $td-bgColor-light;
                    }
                }
                .subtitle {
                    color: #999;
                    margin-top: 1.8rem;
                    .theme-dark & {
                        color: $td-textColor-dark;
                    }
                }
            }
        }
        &.no-banner{
            .banner-title{
                min-height: 0;
                padding-bottom: 25px;
                &,& *{
                    color: #333;
                }
                & a{
                    border-bottom: 1px solid rgba(0,0,0,0.1);
                }
                .theme-dark &{
                    &,& *{
                        color: $td-textColor;
                    }
                    & a{
                        border-color: $td-borderColor
                    }
                }
            }
        }
        &:not(.no-banner){
            .banner-title{
                &,& *{
                    color: white;
                }
                & a{
                    border-bottom: 1px solid white;
                }
            }
        }
        .lazy{
            @include bg;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: 1.2s ease opacity;
            &.loaded{
                opacity: 1;
            }
        }
    }

    .wrapper{
        position: relative;
        section{
            position: relative;
            margin-bottom: 3rem;
            &:first-of-type{
                margin-top: 2rem;
                &.no-banner{
                    margin-top: calc(60px + 2rem);
                }
            }
            &.tags {
                margin: 1rem 0;
                margin-bottom: calc(1rem - 10px);
                padding-top: 1rem;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                .theme-dark & {
                    border-color: $td-borderColor;
                }
                .tag-item {
                    margin-right: 5px;
                    margin-bottom: 10px;
                }
            }
            .not-found{
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                color: $textColor;
                .theme-dark &{
                    color: $td-textColor;
                }
                h1{
                    margin: 0;
                    font-size: 1.9rem;
                    margin-bottom: 2rem;
                }
                a{
                    color: $fadeColor;
                    .theme-dark &{
                        color: $td-textColor;
                    }
                }
            }
        }
    }
}

section#index-list{
    margin-bottom: 3rem;
    h1.post-title{
        text-align: center;
        margin-bottom: 2.5rem;
    }
    >ul{
        list-style: none;
        padding: 0;
        margin: 0;
        >li{
            line-height: 1.25;
            padding-bottom: 0;
            margin-bottom: 30px;
            border-bottom: 1px dotted #ddd;
            opacity: 0;
            transition: $animationTime ease-in opacity;
            &.done {
                opacity: 1;
            }
            @media screen and (min-width: 767.5px) {
                &.masonry-ready {
                    width: calc(50% - 15px);
                }
            }
            border: solid 2px $textColor;
            .theme-dark & {
                border-color: $td-borderColor;
            }
            article {
                position: relative;
                .title{
                    word-break: break-word;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif, -webkit-body;
                    line-height: 1.35;
                    font-size: 1.71rem;
                    @media screen and (min-width: 767.5px){
                        font-size: 1.85rem;
                    }
                    font-weight: bolder;
                    margin: 0;
                    margin-bottom: 0.6rem;
                    color: $darkColor!important;
                    .theme-dark &{
                        color: $td-textColor-light!important;
                    }
                }
                p{
                    .theme-dark &{
                        color: $td-textColor-dark;
                    }
                    &[itemprop=headline] {
                        margin: 0.6rem 0;
                        margin-bottom: 0;
                        color: #999;
                        font-weight: 300;
                        .theme-dark &{
                            color: $td-textColor-dark
                        }
                    }
                    &.headline{
                        color: #999;
                        font-size: 20px;
                        font-weight: 300;
                        line-height: 1.3;
                        margin-top: 0.6rem;
                        margin-bottom: 0;
                        text-align: left;
                        .theme-dark &{
                            border-color: $td-borderColor;
                            color: $td-textColor-dark
                        }
                        border-top: none;
                        border-bottom: none;
                        padding-top: 0;
                        padding-bottom: 0;
                        &::before, &::after{
                            display: none;
                        }
                        &.single{
                            margin-bottom: 0;
                        }
                    }
                }
                .post-meta-index{
                    position: relative;
                    color: rgba(0,0,0,.125);
                    .theme-dark &{
                        color: $td-textColor-dark;
                    }
                    font-size: 14px;
                    font-weight: bold;
                    font-family: var(--sys-sans),sans-serif;
                    text-transform: uppercase;
                    vertical-align: middle;
                    margin-bottom: 3px;
                }
                .banner{
                    line-height: 0;
                    img{
                        @include bg;
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        object-fit: cover;
                        margin: 0;
                    }
                }
                .content-wrap {
                    padding: 16px 20px;
                    position: relative;
                }
                &.style-0 {
                    .banner {
                        display: none;
                    }
                }
                &.style-2 {
                    .content-wrap {
                        padding: 100px 20px 40px;
                        background: rgba(0, 0, 0, 0.4);
                        transition: $animationTime-slow ease-in-out;
                    }
                    .banner {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                    }
                    .title, p, .post-meta-index {
                        color: #fff!important;
                    }
                    .theme-dark {
                        .title, p, .post-meta-index {
                            color: $td-textColor-light!important;
                        }   
                    }
                }
            }
            @media screen and (min-width: 1024.5px) {
                &:hover {
                    article:not(.style-2) .title{
                        color: $highlightColor!important;
                    }
                    border-color: $highlightColor;
                    article.style-2 .content-wrap {
                        background: rgba(0, 0, 0, 0.62);
                    }
                }
            }
        }
    }
}