$textColor: #333;
$fadeColor: #666;
$darkColor: #111;
$mainWidth: 820px;
$mainWidth-wide: 1024px;
$bannerHeight: 350px;
$bannerHeight_mobile: 250px;

@mixin bg {
    background: {
        size: cover;
        repeat: no-repeat;
        position: center;
        color: #12121c;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        right: 0;
    }
    100% {
        opacity: 1;
        right: 20px;
    }
}

@keyframes ajax-loaded{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        right: 20px;
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        right: 20px;
        opacity: 0;
        transform: translateY(20px);
    }
}